{% extends 'home/layout.html.twig' %}

{% block body %}
    {% include "components/elements/header.html.twig" %}
    {% include "components/section/about.html.twig" %}
    {% include "components/section/classic.html.twig" %}
    {% include "components/section/specific.html.twig" %}
    {% include "components/section/realisation.html.twig" %}
{% endblock %}
