<section id="about" class="about min-vh-100 pt-15 d-flex flex-column justify-content-evenly">
{% include "components/atoms/subTitle.html.twig" with {
    text: "A Propos de moi"
} %}
        <p class="fs-3 py-3 container-fluid">
            {% trans %}Trop tard pour devenir infirmière, j’ai décidé malgré tout d’apporter des soins bénéfiques pour le corps, l’organisme et l’esprit. Les massages présentent des atouts majeurs pour aider les gens à évacuer le stress, à prendre soin de son corps et à rendre son organisme plus fort. Je me suis donc formée aux différentes techniques de massage chez Azenday, une école réputée.
            {% endtrans %}
        </p>
</section>
