<section id="classic" class="bg-grad-classic min-vh-100 pt-15 d-flex flex-column justify-content-evenly">
    {% include "components/atoms/subTitle.html.twig" with {
        text: "Les massages classiques"
    } %}

    <p class="fs-1 text-center">{% trans %}Cliquez sur les images pour en savoir plus{% endtrans %}</p>
    <div class="d-lg-flex justify-content-around text-center container-fluid py-5 fs-1">
        <figure data-bs-toggle="modal" data-bs-target="#head" class="px-3">
            <img src="{{asset ('images/les_trois_trapezes.jpg') | imagine_filter('header')}}" alt="Massage tête cou" class="img-fluid rounded-5 mouse">
            <p class="mb-5">{% trans %}Head, Neck, Shoulders{% endtrans %}</p>
        </figure>
        <figure data-bs-toggle="modal" data-bs-target="#sweden" class="px-3">
            <img src="{{asset ('images/massage_suedois.jpg') | imagine_filter('header')}}" alt="" class="img-fluid rounded-5 mouse">
            <p class="mb-5">{% trans %}Massage Suédois{% endtrans %}</p>
        </figure>
        <figure data-bs-toggle="modal" data-bs-target="#lomi" class="px-3">
            <img src="{{asset ('images/homi_homi.jpg') | imagine_filter('header')}}" alt="" class="img-fluid rounded-5 mouse">
            <p class="mb-5">Lomi Lomi</p>
        </figure>
    </div>

</section>


<!-- Modal -->
<div class="modal fade" id="head" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Head, neck, Shoulders</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-gray-300">
                <span>
                    {% trans %}
                    Ce massage traite les zones de tensions les plus fréquentes ( la nuque, le cuir 
                    chevelu, épaules et la zone entre les omoplates). Il est précis et détaillé pour traquer les 
                    moindres tensions.
                    Techniques utilisées : effleurages, pressions coudes, pétrissages, pressions glissées, étirements 
                    et mobilisations.
                    {% endtrans %}
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lps border-0" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="sweden" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Massage Suédois</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-gray-300">
                <span>
                    {% trans %}
                    Ce massage est très riche grâce à ses techniques variées et puissantes. Il permet de 
                    dénouer les tensions musculaires, le pétrissage est une des manœuvres essentielles de ce 
                    massage. Il est complet, le corps est massé en passant par les pieds, le cuir chevelu, les doigts, le 
                    dos, le ventre, la nuque et le visage.
                    Techniques utilisées : effleurages, pétrissages, frictions, percussions, vibrations, mobilisation et 
                    étirements.
                    {% endtrans %}
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lps border-0" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="lomi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Massage Lomi Lomi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-gray-300">
                <span>
                    {% trans %}
                    C’est un massage née à Hawaï . Il est extraordinairement cocooning et enveloppant. 
                    Il est différent car ce sont les avants bras qui sont utilisées pour masser. Le rythme est plutôt 
                    lent et entraine le receveur dans un bien être profond : La déconnexion complète.
                    Techniques utilisées : effleurages profonds avec les avants bras.
                    {% endtrans %}
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lps border-0" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
