<section id="specific" class="bg-grad-specific min-vh-100 pt-15 d-flex flex-column justify-content-evenly">
    {% include "components/atoms/subTitle.html.twig" with {
        text: "Les massages spécifiques"
    } %}

    <p class="fs-1 text-center">{% trans %}Cliquez sur les images pour en savoir plus{% endtrans %}</p>
    <div class="d-lg-flex justify-content-around text-center container-fluid py-5 fs-1">
        <figure data-bs-toggle="modal" data-bs-target="#amma" class="px-3">
            <img src="{{asset ('images/massage_amma.jpg') | imagine_filter('header')}}" alt="Massage tête cou" class="img-fluid rounded-5 mouse">
            <p class="mb-5">{% trans %}Amma{% endtrans %}</p>
        </figure>
        <figure data-bs-toggle="modal" data-bs-target="#japan" class="px-3">
            <img src="{{asset ('images/massage_japonais.jpg') | imagine_filter('header')}}" alt="" class="img-fluid rounded-5 mouse">
            <p class="mb-5">{% trans %}Massage Japonais du visage{% endtrans %}</p>
        </figure>
        <figure data-bs-toggle="modal" data-bs-target="#minceur" class="px-3">
            <img src="{{asset ('images/massage_minceur.jpg') | imagine_filter('header')}}" alt="" class="img-fluid rounded-5 mouse">
            <p class="mb-5">Massage minceur</p>
        </figure>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="amma" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Massage Amma</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-gray-300">
                <span>
                    {% trans %}
                    Ce massage bien être pratiqué sur une chaise en entreprise. La séance est courte, 15 à 20 mn. Elle est rythmée pour redynamiser les personne. Les zones travaillées sont les grandes zones habituelles de tension : le dos, les épaules, la nuque, le crâne, les bras et les mains.
                    Techniques utilisées : pétrissages, pressions sur les zones de tension et les zones énergétiques (avec les paumes des mains, les pouces et les coudes), étirements et mobilisations. En un temps record, les zones sont dénouées, le soulagement est immédiat et durable.
                    {% endtrans %}
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lps border-0" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="japan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Massage Japonais du visage</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-gray-300">
                <span>
                    {% trans %}
                    Il est très relaxant, il rafraichit les traits du visage, régénère la peau et efface les effets d stress. Au Japon, selon eux, la beauté est le stade le plus élevé de la santé, c’est la santé qui se voit.
                    Techniques utilisées : mouvements glissés, pressions, tapotements et pressions digitales.
                    {% endtrans %}
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lps border-0" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="minceur" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Massage minceur</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-gray-300">
                <span>
                    {% trans %}
                    Il est ciblé et efficace s’il est donné régulièrement. Il aide à mieux éliminer et à remodeler les parties du corps où les masses adipeuses ont tendance à s’installer : les fesses, le ventre et les bras. Les bienfaits : aide à éliminer les masses adipeuses, redonne un meilleur aspect à la peau, améliore la circulation et efface les sensations de jambes lourdes.
                    Techniques utilisées : palper rouler, frictions et pétrissage dans un rythme dynamique.
                    {% endtrans %}
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lps border-0" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
