@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

$violet-400: #a78bfa;
$fuchsia-200: #f5d0fe;
$fuchsia-100: #fae8ff;
$fuchsia-600: #c026d3;
$blue-100: #DBEAFE;
$blue-200: #bfdbfe;
$blue-300: #93c5fd;
$blue-600: #2563eb;
$indigo-200: #ede9fe;
$gray-300: #e4e4e7;
$gray-400: #a3a3a3;

.pt-15 {
  padding-top: 15vh;
}

/* .bg-lps {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, $fuchsia-600 0%, #97d9e1 100%);
} */

.btn-lps {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

.bg-grad-specific {
  background: linear-gradient(90deg, $fuchsia-100 0%, $blue-200 100%);
}

.bg-grad-classic{
  background: linear-gradient(90deg, $blue-100 0%, $fuchsia-200 100%);
}

.min-vh-25 {
  min-height: 25vh !important;
}

.font-header1 {
  font-family: "Great Vibes", cursive;
}

.font-script {
  font-family: "Leckerli One", cursive;
}

.bg-indigo-200 {
  background-color: $indigo-200;
}

.bg-fucshia-100 {
  background-color: $fuchsia-100;
}

.bg-gray-300 {
  background-color: $gray-300;
}

.bg-gray-400 {
  background-color: $gray-400;
}

.bg-violet-400 {
  background-color: $violet-400;
}

.bg-blue-100 {
  background-color: $blue-100;
}

.bg-blue-200 {
  background-color: $blue-200;
}

.bg-blue-300 {
  background-color: $blue-300;
}

.text-fuchsia-600 {
  color: $fuchsia-600;
}

.text-blue-600 {
  color: $blue-600;
}

.mouse {
  cursor: zoom-in !important;
}
