@import "./variables";
@import "./elements/footer.scss";

body {
  .header {
    background-image: url("../../public/images/4.jpg");
    background-position: center;
    background-size: cover;
  }
  .about {
    background-image: url("../../public/images/3.jpg");
    background-position: center center;
    background-size: cover;
  }
  .realisation {
    background-image: url("../../public/images/6.jpg");
    background-position: center center;
    background-size: cover;
  }
}
