<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="single_footer">
                    <h4>
                        <img src="{{asset ('images/logo.jpg') | imagine_filter('logo')}}" alt="L'instant pour soi" class="img-fluid rounded-5">
                    </h4>
                    <ul>
                        <li><a href="#home">{% trans %}Accueil{% endtrans %}</a></li>
                        <li><a href="#about">{% trans %}A Propos de moi{% endtrans %}</a></li>
                        <li><a href="#classic">{% trans %}Massage Classique{% endtrans %}</a></li>
                        <li><a href="#specific">{% trans %}Massage Spécifique{% endtrans %}</a></li>
                    </ul>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>{% trans %}Me contacter{% endtrans %}</h4>
                    <ul>
                        <li><i class="bi bi-phone-fill"></i> 06 XX XX XX XX</li>
                        <li><a href="#"><i class="bi bi-envelope-at-fill"></i> instantpoursoi@gmail.com</li>
                        <li><a href="#"><i class="bi bi-geo-alt-fill"></i></a> Cergy</li>
                    </ul>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>{% trans %}Suivez moi sur les réseaux{% endtrans %}</h4>
                </div>
                <i class="fa-brands fa-facebook"></i>
                <div class="social_profile">
                    <ul>
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    </ul class="text-center"n >
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <p class="copyright">Copyright © 2022
                    <a href="#">L'instant pour soi</a>.</p>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</div>
