<section class="min-vh-100 header d-md-flex align-items-center justify-content-evenly container-fluid pt-15">
    <div class="font-script text-center py-5">
        <h1 class="display-1 text-fuchsia-600">{% trans %}L'instant pour soi{% endtrans %}</h1>
        <h2 class="display-4 text-blue-600">{% trans %}Massage bien être{% endtrans %}</h2>
        <div class="text-center my-5">
            <a href="#classic" class="btn btn-lg btn-lps font-monospace border border-0">
                {% trans %}En savoir plus{% endtrans %}
            </a>
        </div>
    </div>
    <figure class="text-center opacity-50">
        <img src="{{asset ('images/zen.jpg') | imagine_filter('header')}}" alt="Temple asiatique" class="img-fluid rounded-5">
    </figure>
</section>