<nav class="navbar navbar-expand-lg bg-gray-400 fixed-top opacity-75">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{asset ('images/logo.jpg') | imagine_filter('thumb')}}" alt="L'instant pour soi" class="rounded-circle shadow-lg img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 bg-gray-400 p-2 rounded-5">
                <li class="nav-item">
                    <a class="nav-link active font-script text-primary" aria-current="page" href="#about">A Propos de moi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active font-script text-primary" aria-current="page" href="#realisation">Mes réalisations</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-script text-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mes massages
                    </a>
                    <ul class="dropdown-menu bg-transparent">
                        <li>
                            <a class="dropdown-item text-fuchsia-600" href="#classic">Les classiques</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-fuchsia-600" href="#specific">Les spécifiques</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
